apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  namespace: prod
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
        - name: nginx
          image: registry.nubisoft.local/demo:latest
          ports:
            - containerPort: 80
      imagePullSecrets:
        - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: demo-svc
  namespace: prod
  labels:
    app: demo
  annotations:
    metallb.universe.tf/address-pool: internal
spec:
  selector:
    app: demo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
