name: production
on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: build-docker-image
        run: |-
          docker build -t demo:latest .
          docker image tag demo:latest registry.nubisoft.local/demo:latest
          docker image push registry.nubisoft.local/demo:latest
  deploy:
    runs-on: [self-hosted]
    needs: [build]
    env:
      KUBECONFIG: kube.conf
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: deploy
        run: |-
          export ENV=prod
          kubectl apply -f k8s-prod.yaml
  cleanup:
    runs-on: [self-hosted]
    needs: [build, deploy]
    if: ${{ contains(github.event.head_commit.message, '#deploy') }}
    steps:
      - name: Cleanup
        if: ${{ always() }}
        run: |
          echo "Cleaning up"
          rm -rf "${{ github.workspace }}"
